@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?200&family=Poppins&display=swap");

* {
  margin: 0 auto;
  font-family: Poppins;
}
body {
  background-color: #9DECB1;
}
.intro {
  margin-top: 20px;
  /* padding-bottom: 20px; */
  width: 75%;
  height: 82vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.hero {
  width: 100%;
  height: 60%;
  z-index: -999;
}
#myFriends {
  height: 100%;
  width: 100%;
}
#portrait {
  position: absolute;
  top: 250px;
  left: 250px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 999;
}
.info {
  background-color: #E148AF;
  color: #CBF98C;
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-between;
}
.info-left {
  bottom: 40px;
  padding-top: 80px;
  padding-right: 430px;
}
.double-card {
  display: flex;
  justify-content: space-between;
  width: 76.5%;
  margin-bottom: 30px;
}
.double-card div {
  box-sizing: border-box;
}
.albums {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #DD3030;
  color: black;
  height: 50vh;
  width: 48%;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.cover-container {
  width: 100%;
  height: 80%;
}
.cover-container img {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}
.cover-container img:hover {
  transform: scale(1.1);
  transition: 0.6s;
}
.container-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.container-bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.album-gallery div {
  margin: 0 auto;
  text-align: center;
  margin-right: 20px;
}
.siblings {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #1f2221;
  color: #87f9f3;
  width: 48%;
  padding: 20px;
}
.photos {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.album-gallery {
  padding-top: 50px;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  height: 350px;
  margin-right: 20px;
}
.siblings img {
  height: 150px;
  width: 120px;
}
.professional {
  background-color: #304BDD;
  color: #CBF98C;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 30px;
  width: 75%;
  height: 50vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-bottom: 20px;
  align-items: center;
}
.professional-container {
  display: flex;
  justify-content: space-between;
}
.professional-right {
  align-items: center;
  text-align: center;
}
.professional-right img {
  height: 300px;
  width: 375px;
}
.professional-left {
  padding: 50px 0px;
  align-items: center;
  text-align: left;
}
.professional-left li {
  margin-bottom: 30px;
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 450px;
  align-items: center;
}
li img {
  height: 50px;
  width: 50px;
}
.early-life {
  background-color: #8CF9ED;
  color: #E148AF;
  box-sizing: border-box;
  padding: 20px;
  width: 75%;
  height: 50vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-bottom: 20px;
  align-items: center;
}
.gallery {
  white-space: nowrap;
  overflow-x: scroll;
}
.early-life h1 {
  margin-bottom: 10px;
}
.gallery img {
  height: 200px;
  min-width: 200px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
